<% include partials/header.ejs %>

<h1>Admini sisselogimine</h1>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign In</button>
</form>



<% include partials/footer.ejs %>
