<% include ../partials/header.ejs %>

<div class="row" style="display:flex; flex-wrap: wrap;">
    <% tournaments.forEach((tournament) =>{ %>
        <div class="col-lg-3 col-md-6">
            <div class="img-thumbnail">
                <div class="caption text-center">
                    <h4><a href="/tournaments/<%= tournament._id %>"><%= player["name"] %></a></h4>
                </div>
            </div>

        </div>
    <% }) %>
</div>

<% include ../partials/footer.ejs%>
